Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/HistoryService/HistoryService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.History" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.History" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/History/HistoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/History/HistoryService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:complexType name="HistoryCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="CTGYR" type="xs:int" />
          <xs:element minOccurs="0" name="DispYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Orderby" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryCondition" nillable="true" type="tns:HistoryCondition" />
  <xs:complexType name="HistoryModelOfHIS_CTGRDC_SB_PqQK">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="HistoryModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.History" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="HIS_CTGR" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.History" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q2:ListModelOfHIS_CTGRDC_SB_PqQK">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="CTGRList" nillable="true" type="q3:ArrayOfNTB_CTGR" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HistoryModelOfHIS_CTGRDC_SB_PqQK" nillable="true" type="tns:HistoryModelOfHIS_CTGRDC_SB_PqQK" />
  <xs:complexType name="ArrayOfHIS_CTGR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HIS_CTGR" nillable="true" type="tns:HIS_CTGR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHIS_CTGR" nillable="true" type="tns:ArrayOfHIS_CTGR" />
  <xs:complexType name="HIS_CTGR">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTGR_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CTGR_YR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIS_CONT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIS_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIS_DISP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIS_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HIS_CTGR" nillable="true" type="tns:HIS_CTGR" />
  <xs:complexType name="HistoryDetail">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="CTGRList" nillable="true" type="q4:ArrayOfNTB_CTGR" />
      <xs:element minOccurs="0" name="HISData" nillable="true" type="tns:HIS_CTGR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistoryDetail" nillable="true" type="tns:HistoryDetail" />
  <xs:complexType name="ArrayOfDtlCTGRHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtlCTGRHistory" nillable="true" type="tns:DtlCTGRHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtlCTGRHistory" nillable="true" type="tns:ArrayOfDtlCTGRHistory" />
  <xs:complexType name="DtlCTGRHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTGR_YR" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="HistoryList" nillable="true" type="q5:ArrayOfNTB_HIS_MNG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtlCTGRHistory" nillable="true" type="tns:DtlCTGRHistory" />
</xs:schema>