Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/HistoryService/HistoryService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_CTGR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_CTGR" nillable="true" type="tns:NTB_CTGR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_CTGR" nillable="true" type="tns:ArrayOfNTB_CTGR" />
  <xs:complexType name="NTB_CTGR">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTGR_DISP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTGR_RN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTGR_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CTGR_YR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_CTGR" nillable="true" type="tns:NTB_CTGR" />
  <xs:complexType name="NTB_HIS_MNG">
    <xs:sequence>
      <xs:element minOccurs="0" name="CTGR_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="HIS_CONT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIS_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIS_DISP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HIS_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_HIS_MNG" nillable="true" type="tns:NTB_HIS_MNG" />
  <xs:complexType name="ArrayOfNTB_HIS_MNG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_HIS_MNG" nillable="true" type="tns:NTB_HIS_MNG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_HIS_MNG" nillable="true" type="tns:ArrayOfNTB_HIS_MNG" />
</xs:schema>