Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/StockSituationService/StockSituationService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockSituation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockSituation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/IRCenter/StockSituationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
  <xs:complexType name="StockModelOfTAB_STOCK_SITUATIONtpbJ901r">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StockModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockSituation" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TAB_STOCK_SITUATION" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfTAB_STOCK_SITUATION" />
      <xs:element minOccurs="0" name="totalStockCnt" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockModelOfTAB_STOCK_SITUATIONtpbJ901r" nillable="true" type="tns:StockModelOfTAB_STOCK_SITUATIONtpbJ901r" />
</xs:schema>