Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/AdminServiceCenter/ServiceCenter53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Admin/ServiceCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ServiceCenter" />
  <xs:import schemaLocation="http://localhost:8088/Admin/ServiceCenter.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Admin/ServiceCenter.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:element name="NolticeSearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ServiceCenter" minOccurs="0" name="condition" nillable="true" type="q1:NoticeCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NolticeSearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="NolticeSearchListResult" nillable="true" type="q2:ListModelOfTAB_NOTICEaHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoticeSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNoticeSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetNoticeSingleResult" nillable="true" type="q3:TAB_NOTICE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoticeSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q4:TAB_NOTICE" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q5:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoticeSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NoticeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q6:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoticeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FAQSearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ServiceCenter" minOccurs="0" name="condition" nillable="true" type="q7:FAQCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FAQSearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="FAQSearchListResult" nillable="true" type="q8:ListModelOfTAB_FAQaHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFAQSingle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFAQSingleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetFAQSingleResult" nillable="true" type="q9:TAB_FAQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FAQSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q10:TAB_FAQ" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q11:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FAQSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FAQDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q12:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FAQDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>