Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/AdminServiceCenter/ServiceCenter51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ServiceCenter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ServiceCenter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Admin/ServiceCenter.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="NoticeCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DelFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TopFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ViewFlag" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NoticeCondition" nillable="true" type="tns:NoticeCondition" />
  <xs:complexType name="FAQCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q2:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FAQ_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIEW_YN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FAQCondition" nillable="true" type="tns:FAQCondition" />
</xs:schema>