Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/StockResultService/StockResultService66.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/IRCenter/StockResultService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/IRCenter/StockResultService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
  <xs:import schemaLocation="http://localhost:8088/IRCenter/StockResultService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="StockResultCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Rounds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ViewFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockResultCondition" nillable="true" type="tns:StockResultCondition" />
  <xs:complexType name="StockResultModelOfTAB_STOCK_RESULTtpbJ901r">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StockResultModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TAB_STOCK_RESULT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q2:ListModelOfTAB_STOCK_RESULTtpbJ901r">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConCountList" nillable="true" type="tns:ArrayOfJoinConGroup" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ConnectList" nillable="true" type="q3:ArrayOfTAB_STOCK_RESULT_CONNECT" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoundsList" nillable="true" type="q4:ArrayOfstring" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="YearList" nillable="true" type="q5:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockResultModelOfTAB_STOCK_RESULTtpbJ901r" nillable="true" type="tns:StockResultModelOfTAB_STOCK_RESULTtpbJ901r" />
  <xs:complexType name="ArrayOfJoinConGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JoinConGroup" nillable="true" type="tns:JoinConGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJoinConGroup" nillable="true" type="tns:ArrayOfJoinConGroup" />
  <xs:complexType name="JoinConGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectCount" type="xs:int" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinConGroup" nillable="true" type="tns:JoinConGroup" />
  <xs:complexType name="StockResultDetail">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ConnectList" nillable="true" type="q6:ArrayOfTAB_STOCK_RESULT_CONNECT" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DeleteList" nillable="true" type="q7:ArrayOfint" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="StockData" nillable="true" type="q8:TAB_STOCK_RESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockResultDetail" nillable="true" type="tns:StockResultDetail" />
  <xs:complexType name="StockResultModelOfJOIN_STOCK_CONNECTWJxJojxi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StockResultModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="JOIN_STOCK_CONNECT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q9:ListModelOfJOIN_STOCK_CONNECTWJxJojxi">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConCountList" nillable="true" type="tns:ArrayOfJoinConGroup" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ConnectList" nillable="true" type="q10:ArrayOfTAB_STOCK_RESULT_CONNECT" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoundsList" nillable="true" type="q11:ArrayOfstring" />
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="YearList" nillable="true" type="q12:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockResultModelOfJOIN_STOCK_CONNECTWJxJojxi" nillable="true" type="tns:StockResultModelOfJOIN_STOCK_CONNECTWJxJojxi" />
  <xs:complexType name="ArrayOfJOIN_STOCK_CONNECT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JOIN_STOCK_CONNECT" nillable="true" type="tns:JOIN_STOCK_CONNECT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJOIN_STOCK_CONNECT" nillable="true" type="tns:ArrayOfJOIN_STOCK_CONNECT" />
  <xs:complexType name="JOIN_STOCK_CONNECT">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIVERGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SDAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SMONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STIME1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STIME2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STOCK_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SWEEK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYEAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JOIN_STOCK_CONNECT" nillable="true" type="tns:JOIN_STOCK_CONNECT" />
</xs:schema>