Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/StockResultService/StockResultService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/IRCenter/StockResultService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
  <xs:import schemaLocation="http://localhost:8088/IRCenter/StockResultService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" />
  <xs:complexType name="BaseCondition">
    <xs:sequence>
      <xs:element name="_x003C_CurrentIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CurrentMenuSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCondition" nillable="true" type="tns:BaseCondition" />
  <xs:complexType name="ListModelOfTAB_STOCK_RESULTtpbJ901r">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TAB_STOCK_RESULT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfTAB_STOCK_RESULT" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfTAB_STOCK_RESULTtpbJ901r" nillable="true" type="tns:ListModelOfTAB_STOCK_RESULTtpbJ901r" />
  <xs:complexType name="LoginUser">
    <xs:sequence>
      <xs:element name="_x003C_AdminSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Ip_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastLoginDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_LoginId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MenuList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAdminMenuItem" />
      <xs:element name="_x003C_PartCodeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:complexType name="ArrayOfAdminMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminMenuItem" nillable="true" type="tns:AdminMenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminMenuItem" nillable="true" type="tns:ArrayOfAdminMenuItem" />
  <xs:complexType name="AdminMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWrite" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminMenuItem" nillable="true" type="tns:AdminMenuItem" />
  <xs:complexType name="ListModelOfJOIN_STOCK_CONNECTWJxJojxi">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="JOIN_STOCK_CONNECT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.StockResult" minOccurs="0" name="ListData" nillable="true" type="q2:ArrayOfJOIN_STOCK_CONNECT" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfJOIN_STOCK_CONNECTWJxJojxi" nillable="true" type="tns:ListModelOfJOIN_STOCK_CONNECTWJxJojxi" />
</xs:schema>