Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/StockResultService/StockResultService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTAB_STOCK_RESULT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_STOCK_RESULT" nillable="true" type="tns:TAB_STOCK_RESULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_STOCK_RESULT" nillable="true" type="tns:ArrayOfTAB_STOCK_RESULT" />
  <xs:complexType name="TAB_STOCK_RESULT">
    <xs:sequence>
      <xs:element minOccurs="0" name="DIVERGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SDAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SMONTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STIME1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STIME2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SWEEK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SYEAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_STOCK_RESULT" nillable="true" type="tns:TAB_STOCK_RESULT" />
  <xs:complexType name="ArrayOfTAB_STOCK_RESULT_CONNECT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_STOCK_RESULT_CONNECT" nillable="true" type="tns:TAB_STOCK_RESULT_CONNECT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_STOCK_RESULT_CONNECT" nillable="true" type="tns:ArrayOfTAB_STOCK_RESULT_CONNECT" />
  <xs:complexType name="TAB_STOCK_RESULT_CONNECT">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="STOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STOCK_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_STOCK_RESULT_CONNECT" nillable="true" type="tns:TAB_STOCK_RESULT_CONNECT" />
</xs:schema>