Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/BusinessManageService/BusinessManageService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.BusinessManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.BusinessManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/BusinessManage/BusinessManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="BusinessCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="displayYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="searchType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessCondition" nillable="true" type="tns:BusinessCondition" />
  <xs:complexType name="ArrayOfBOARD_CONT_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BOARD_CONT_MENU" nillable="true" type="tns:BOARD_CONT_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBOARD_CONT_MENU" nillable="true" type="tns:ArrayOfBOARD_CONT_MENU" />
  <xs:complexType name="BOARD_CONT_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CONTENT_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="READ_CNT" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BOARD_CONT_MENU" nillable="true" type="tns:BOARD_CONT_MENU" />
</xs:schema>