Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/ArticleStatsService/ArticleStatsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArticleStatsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Stats" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArticleStatsService_GetArticleSearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleSearchList" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetArticleSearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleSearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetProvideSearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProvideSearchList" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetProvideSearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProvideSearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetFreelancerTrafficList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFreelancerTrafficList" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetFreelancerTrafficList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFreelancerTrafficListResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetFreelancerArticleRankList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFreelancerArticleRankList" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetFreelancerArticleRankList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFreelancerArticleRankListResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetPresentMember_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentMember" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetPresentMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPresentMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_SaveTrafficRank_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTrafficRank" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_SaveTrafficRank_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTrafficRankResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetArtIdbyWriter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtIdbyWriter" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_GetArtIdbyWriter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtIdbyWriterResponse" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_ReportCount_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportCount" />
  </wsdl:message>
  <wsdl:message name="IArticleStatsService_ReportCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IArticleStatsService">
    <wsdl:operation name="GetArticleSearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/GetArticleSearchList" message="tns:IArticleStatsService_GetArticleSearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/GetArticleSearchListResponse" message="tns:IArticleStatsService_GetArticleSearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProvideSearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/GetProvideSearchList" message="tns:IArticleStatsService_GetProvideSearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/GetProvideSearchListResponse" message="tns:IArticleStatsService_GetProvideSearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFreelancerTrafficList">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/GetFreelancerTrafficList" message="tns:IArticleStatsService_GetFreelancerTrafficList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/GetFreelancerTrafficListResponse" message="tns:IArticleStatsService_GetFreelancerTrafficList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFreelancerArticleRankList">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/GetFreelancerArticleRankList" message="tns:IArticleStatsService_GetFreelancerArticleRankList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/GetFreelancerArticleRankListResponse" message="tns:IArticleStatsService_GetFreelancerArticleRankList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPresentMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/GetPresentMember" message="tns:IArticleStatsService_GetPresentMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/GetPresentMemberResponse" message="tns:IArticleStatsService_GetPresentMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTrafficRank">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/SaveTrafficRank" message="tns:IArticleStatsService_SaveTrafficRank_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/SaveTrafficRankResponse" message="tns:IArticleStatsService_SaveTrafficRank_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtIdbyWriter">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/GetArtIdbyWriter" message="tns:IArticleStatsService_GetArtIdbyWriter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/GetArtIdbyWriterResponse" message="tns:IArticleStatsService_GetArtIdbyWriter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticleStatsService/ReportCount" message="tns:IArticleStatsService_ReportCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticleStatsService/ReportCountResponse" message="tns:IArticleStatsService_ReportCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArticleStatsService" type="tns:IArticleStatsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArticleSearchList">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/GetArticleSearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvideSearchList">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/GetProvideSearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreelancerTrafficList">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/GetFreelancerTrafficList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreelancerArticleRankList">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/GetFreelancerArticleRankList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPresentMember">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/GetPresentMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTrafficRank">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/SaveTrafficRank" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtIdbyWriter">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/GetArtIdbyWriter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportCount">
      <soap:operation soapAction="http://tempuri.org/IArticleStatsService/ReportCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticleStatsService">
    <wsdl:port name="BasicHttpBinding_IArticleStatsService" binding="tns:BasicHttpBinding_IArticleStatsService">
      <soap:address location="http://localhost:8088/NewsCenter/ArticleStatsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>