Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/ArticleStatsService/ArticleStatsService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Stats" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/ArticleStatsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
  <xs:element name="GetArticleSearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Stats" minOccurs="0" name="condition" nillable="true" type="q1:StatsCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleSearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetArticleSearchListResult" nillable="true" type="q2:ListModelOfNUP_ARTICLE_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvideSearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Stats" minOccurs="0" name="condition" nillable="true" type="q3:StatsCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvideSearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetProvideSearchListResult" nillable="true" type="q4:ArrayOfNUP_ARTICLE_PROVIDE_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreelancerTrafficList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Stats" minOccurs="0" name="condition" nillable="true" type="q5:StatsCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreelancerTrafficListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetFreelancerTrafficListResult" nillable="true" type="q6:ArrayOfNUP_FREELANCER_TRAFFIC_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreelancerArticleRankList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Stats" minOccurs="0" name="condition" nillable="true" type="q7:StatsCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreelancerArticleRankListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetFreelancerArticleRankListResult" nillable="true" type="q8:ArrayOfNUP_FREELANCER_ARTICLE_RANK_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresentMemberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetPresentMemberResult" nillable="true" type="q9:PresentMember" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTrafficRank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rank" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q10:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTrafficRankResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtIdbyWriter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="compCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtIdbyWriterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetArtIdbyWriterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDateTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="contentSeq" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>