Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/ArticleStatsService/ArticleStatsService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNUP_ARTICLE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_ARTICLE_SELECT_Result" nillable="true" type="tns:NUP_ARTICLE_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_ARTICLE_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_ARTICLE_SELECT_Result" />
  <xs:complexType name="NUP_ARTICLE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ArtID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPTCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HTML_CLICK_NUM" type="xs:int" />
      <xs:element minOccurs="0" name="IDX" type="xs:int" />
      <xs:element minOccurs="0" name="MOBILE_CLICK_NUM" type="xs:int" />
      <xs:element minOccurs="0" name="MobileClickNum" type="xs:int" />
      <xs:element minOccurs="0" name="MobileGoogleAnalytic" type="xs:int" />
      <xs:element minOccurs="0" name="PC_CLICK_NUM" type="xs:int" />
      <xs:element minOccurs="0" name="PcClickNum" type="xs:int" />
      <xs:element minOccurs="0" name="PcGoogleAnalytic" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_ARTICLE_SELECT_Result" nillable="true" type="tns:NUP_ARTICLE_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_ARTICLE_PROVIDE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_ARTICLE_PROVIDE_SELECT_Result" nillable="true" type="tns:NUP_ARTICLE_PROVIDE_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_ARTICLE_PROVIDE_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_ARTICLE_PROVIDE_SELECT_Result" />
  <xs:complexType name="NUP_ARTICLE_PROVIDE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeptCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWS_MAKE_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TERM_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TOTAL_ARTICLE_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WRITER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_ARTICLE_PROVIDE_SELECT_Result" nillable="true" type="tns:NUP_ARTICLE_PROVIDE_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_FREELANCER_TRAFFIC_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_FREELANCER_TRAFFIC_SELECT_Result" nillable="true" type="tns:NUP_FREELANCER_TRAFFIC_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_FREELANCER_TRAFFIC_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_FREELANCER_TRAFFIC_SELECT_Result" />
  <xs:complexType name="NUP_FREELANCER_TRAFFIC_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DNRS_USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWS_MAKE_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TERM_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TOTAL_ARTICLE_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_FREELANCER_TRAFFIC_SELECT_Result" nillable="true" type="tns:NUP_FREELANCER_TRAFFIC_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_FREELANCER_ARTICLE_RANK_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_FREELANCER_ARTICLE_RANK_SELECT_Result" nillable="true" type="tns:NUP_FREELANCER_ARTICLE_RANK_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_FREELANCER_ARTICLE_RANK_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_FREELANCER_ARTICLE_RANK_SELECT_Result" />
  <xs:complexType name="NUP_FREELANCER_ARTICLE_RANK_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ArtID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLICK_SUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RANK_NUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_FREELANCER_ARTICLE_RANK_SELECT_Result" nillable="true" type="tns:NUP_FREELANCER_ARTICLE_RANK_SELECT_Result" />
</xs:schema>