Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/MemberManageService/MemberManageService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Board" />
  <xs:element name="MemberSearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" minOccurs="0" name="condition" nillable="true" type="q1:MemberManageCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="MemberSearchListResult" nillable="true" type="q2:ListModelOfMemberManageListResultw_PtHq4vS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" minOccurs="0" name="MemberInfoResult" nillable="true" type="q3:MemberManageInfoResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" minOccurs="0" name="request" nillable="true" type="q4:UserInfoSaveRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" minOccurs="0" name="MemberInfoSaveResult" nillable="true" type="q5:UserInfoModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSecession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="secessionReasonKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secessionReasonDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberSecessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="MemberSecessionResult" nillable="true" type="q6:MemberSecessionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchKeyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetAddressResult" nillable="true" type="q7:ArrayOftblPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberInfoStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" minOccurs="0" name="MemberInfoStatisticsResult" nillable="true" type="q8:MemberInfoStatisticsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordInitialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="adminId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordInitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" minOccurs="0" name="PasswordInitializeResult" nillable="true" type="q9:SetPasswordResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="receiveNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callbackNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSmsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="approved" type="xs:boolean" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserApprovalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleMemberList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="userNumberList" nillable="true" type="q10:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimpleMemberListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" minOccurs="0" name="SimpleMemberListResult" nillable="true" type="q11:ArrayOfMemberInfoSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDormancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDormancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestoreDormancyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Board" minOccurs="0" name="condition" nillable="true" type="q12:IntegratedBoardCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="MemberDIDenialListResult" nillable="true" type="q13:ListModelOfTblMemberDIDenialListfjC7S_Spq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialWriteProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="model" nillable="true" type="q14:TblMemberDIDenialList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialWriteProcResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="MemberDIDenialViewResult" nillable="true" type="q15:TblMemberDIDenialList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemberDIDenialDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>