Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/MemberManageService/MemberManageService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result" nillable="true" type="tns:NUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result" />
  <xs:complexType name="NUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADMIN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUSINESS_CATEGORY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUSINESS_CONDITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUSINESS_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUSINESS_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEO_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATA_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESTABLISHMENT_ANNIVERSARY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOBBY_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="HOMEPAGE_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INFO_ACCQUIREMENT_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INTEREST_ITEM_ID_1" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="INTEREST_ITEM_ID_2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="INTEREST_ITEM_ID_3" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="INVESTMENT_PERIOD_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INVESTMENT_PREFERENCE_OBJECT_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INVESTMENT_PROPENSITY_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INVESTMENT_SCALE_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IS_SEND_EMAIL" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_SEND_SMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOB_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NICKNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD_CONFIRM_ANSWER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD_CONFIRM_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="REGIST_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REGIST_ROUTE_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RESIDING_STATUS_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SALARY_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="STOCK_COMPANY_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TEL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WEDDING_ANNIVERSARY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result" nillable="true" type="tns:NUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_Result" />
  <xs:complexType name="NUP_ADMIN_MEMBER_INFO_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVED" type="xs:boolean" />
      <xs:element minOccurs="0" name="BIRTHDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUSINESS_CONDITION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUSINESS_ITEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUSINESS_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CEO_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INACTIVE" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="INFO_ACQUIREMENT_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INTEREST_AREA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INVESTMENT_PERIOD_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INVESTMENT_PREFERENCE_OBJECT_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INVESTMENT_PROPENSITY_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INVESTMENT_SCALE_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IS_SEND_EMAIL" type="xs:boolean" />
      <xs:element minOccurs="0" name="IS_SEND_EMAIL_AD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_SEND_SMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_SEND_SMS_AD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_SOLAR" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NICKNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD_ANSWER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD_CONFIRM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD_CONFIRM_ID" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="REGIST_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SALARY_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="STOCK_COMPANY_ID" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TEL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_SECTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_SECTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_ADMIN_MEMBER_INFO_SELECT_Result" nillable="true" type="tns:NUP_ADMIN_MEMBER_INFO_SELECT_Result" />
  <xs:complexType name="ArrayOftblPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPost" nillable="true" type="tns:tblPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPost" nillable="true" type="tns:ArrayOftblPost" />
  <xs:complexType name="tblPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="bungi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gugun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postId" type="xs:int" />
      <xs:element minOccurs="0" name="sido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPost" nillable="true" type="tns:tblPost" />
  <xs:complexType name="ArrayOfTblMemberDIDenialList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblMemberDIDenialList" nillable="true" type="tns:TblMemberDIDenialList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblMemberDIDenialList" nillable="true" type="tns:ArrayOfTblMemberDIDenialList" />
  <xs:complexType name="TblMemberDIDenialList">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DupInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestMailDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestMailMember" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="seq" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblMemberDIDenialList" nillable="true" type="tns:TblMemberDIDenialList" />
</xs:schema>