Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/MemberManageService/MemberManageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Board" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberManageService_MemberSearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSearchList" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberSearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfo" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberInfoSave_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoSave" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberInfoSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberSecession_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberSecession" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberSecession_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberSecessionResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_GetAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddress" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_GetAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberInfoStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoStatistics" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberInfoStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberInfoStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_PasswordInitialize_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordInitialize" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_PasswordInitialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordInitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_SendSms_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSms" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_SendSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_UserApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:UserApproval" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_UserApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_SimpleMemberList_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleMemberList" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_SimpleMemberList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleMemberListResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_RestoreDormancy_InputMessage">
    <wsdl:part name="parameters" element="tns:RestoreDormancy" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_RestoreDormancy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestoreDormancyResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialList_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialList" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialList_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialListResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialWriteProc_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialWriteProc" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialWriteProc_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialWriteProcResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialView_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialView" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialView_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialViewResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialDelete" />
  </wsdl:message>
  <wsdl:message name="IMemberManageService_MemberDIDenialDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemberDIDenialDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberManageService">
    <wsdl:operation name="MemberSearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberSearchList" message="tns:IMemberManageService_MemberSearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberSearchListResponse" message="tns:IMemberManageService_MemberSearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberInfo" message="tns:IMemberManageService_MemberInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberInfoResponse" message="tns:IMemberManageService_MemberInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberInfoSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberInfoSave" message="tns:IMemberManageService_MemberInfoSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberInfoSaveResponse" message="tns:IMemberManageService_MemberInfoSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberSecession">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberSecession" message="tns:IMemberManageService_MemberSecession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberSecessionResponse" message="tns:IMemberManageService_MemberSecession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/GetAddress" message="tns:IMemberManageService_GetAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/GetAddressResponse" message="tns:IMemberManageService_GetAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberInfoStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberInfoStatistics" message="tns:IMemberManageService_MemberInfoStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberInfoStatisticsResponse" message="tns:IMemberManageService_MemberInfoStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordInitialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/PasswordInitialize" message="tns:IMemberManageService_PasswordInitialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/PasswordInitializeResponse" message="tns:IMemberManageService_PasswordInitialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/SendSms" message="tns:IMemberManageService_SendSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/SendSmsResponse" message="tns:IMemberManageService_SendSms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/UserApproval" message="tns:IMemberManageService_UserApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/UserApprovalResponse" message="tns:IMemberManageService_UserApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimpleMemberList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/SimpleMemberList" message="tns:IMemberManageService_SimpleMemberList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/SimpleMemberListResponse" message="tns:IMemberManageService_SimpleMemberList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestoreDormancy">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/RestoreDormancy" message="tns:IMemberManageService_RestoreDormancy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/RestoreDormancyResponse" message="tns:IMemberManageService_RestoreDormancy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialList" message="tns:IMemberManageService_MemberDIDenialList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialListResponse" message="tns:IMemberManageService_MemberDIDenialList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialWriteProc">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialWriteProc" message="tns:IMemberManageService_MemberDIDenialWriteProc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialWriteProcResponse" message="tns:IMemberManageService_MemberDIDenialWriteProc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialView">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialView" message="tns:IMemberManageService_MemberDIDenialView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialViewResponse" message="tns:IMemberManageService_MemberDIDenialView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialDelete" message="tns:IMemberManageService_MemberDIDenialDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberManageService/MemberDIDenialDeleteResponse" message="tns:IMemberManageService_MemberDIDenialDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberManageService" type="tns:IMemberManageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MemberSearchList">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberSearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberInfo">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberInfoSave">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberInfoSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberSecession">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberSecession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddress">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/GetAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberInfoStatistics">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberInfoStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordInitialize">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/PasswordInitialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSms">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/SendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserApproval">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/UserApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleMemberList">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/SimpleMemberList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreDormancy">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/RestoreDormancy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialList">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberDIDenialList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialWriteProc">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberDIDenialWriteProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialView">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberDIDenialView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemberDIDenialDelete">
      <soap:operation soapAction="http://tempuri.org/IMemberManageService/MemberDIDenialDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberManageService">
    <wsdl:port name="BasicHttpBinding_IMemberManageService" binding="tns:BasicHttpBinding_IMemberManageService">
      <soap:address location="http://localhost:8088/MemberManage/MemberManageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>