Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/MemberManageService/MemberManageService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.MemberAdminManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberManageService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MemberManageCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="LatestConnectDateFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LatestConnectDateTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ParameterMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegistDateFrom" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RegistDateTo" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserNumber" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemberManageCondition" nillable="true" type="tns:MemberManageCondition" />
  <xs:complexType name="ArrayOfMemberManageListResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberManageListResult" nillable="true" type="tns:MemberManageListResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberManageListResult" nillable="true" type="tns:ArrayOfMemberManageListResult" />
  <xs:complexType name="MemberManageListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALIVE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOIN_TODAY_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NICKNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROW_NUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SEARCHED_TOTAL_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNUMBER" type="xs:int" />
      <xs:element minOccurs="0" name="USER_CLASS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USER_SECTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WOW_CASH" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberManageListResult" nillable="true" type="tns:MemberManageListResult" />
  <xs:complexType name="MemberManageInfoResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="COUPON_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="DormancyMobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="History" nillable="true" type="tns:ArrayOfMemberManageHistory" />
      <xs:element minOccurs="0" name="InfoAcquirement" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="Interest" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="InvestmentPeriod" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="InvestmentPreferenceObject" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="InvestmentPropensity" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="InvestmentScale" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="LatestApprovalLog" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="MemberHistory" nillable="true" type="q2:ListModelOfNUP_ADMIN_MEMBER_INFO_HISTORY_SELECT_ResultfjC7S_Spq" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="MemberInfo" nillable="true" type="q3:NUP_ADMIN_MEMBER_INFO_SELECT_Result" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MemberInterestList" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="StockCompany" nillable="true" type="tns:ArrayOfMemberManageCode" />
      <xs:element minOccurs="0" name="USER_CLASS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WOW_CASH" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberManageInfoResult" nillable="true" type="tns:MemberManageInfoResult" />
  <xs:complexType name="ArrayOfMemberManageHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberManageHistory" nillable="true" type="tns:MemberManageHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberManageHistory" nillable="true" type="tns:ArrayOfMemberManageHistory" />
  <xs:complexType name="MemberManageHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberManageHistory" nillable="true" type="tns:MemberManageHistory" />
  <xs:complexType name="ArrayOfMemberManageCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberManageCode" nillable="true" type="tns:MemberManageCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberManageCode" nillable="true" type="tns:ArrayOfMemberManageCode" />
  <xs:complexType name="MemberManageCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberManageCode" nillable="true" type="tns:MemberManageCode" />
  <xs:complexType name="UserInfoSaveRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessCondition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAcquirement" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="InterestList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentPeriod" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="InvestmentPreferenceObject" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="InvestmentPropensity" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="InvestmentScale" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsSendEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSendEmailAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSendSms" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSendSmsAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StockCompany" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TelNo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelNo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelNo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoSaveRequest" nillable="true" type="tns:UserInfoSaveRequest" />
  <xs:complexType name="UserInfoModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfoModifyResult" nillable="true" type="tns:UserInfoModifyResult" />
  <xs:complexType name="MemberInfoStatisticsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeList" nillable="true" type="tns:ArrayOfMemberInfoAge" />
      <xs:element minOccurs="0" name="Statistics" nillable="true" type="tns:MemberInfoStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInfoStatisticsResult" nillable="true" type="tns:MemberInfoStatisticsResult" />
  <xs:complexType name="ArrayOfMemberInfoAge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberInfoAge" nillable="true" type="tns:MemberInfoAge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberInfoAge" nillable="true" type="tns:ArrayOfMemberInfoAge" />
  <xs:complexType name="MemberInfoAge">
    <xs:sequence>
      <xs:element minOccurs="0" name="MEMBER_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="YEAR_AREA" type="xs:int" />
      <xs:element minOccurs="0" name="YEAR_FROM" type="xs:int" />
      <xs:element minOccurs="0" name="YEAR_TO" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInfoAge" nillable="true" type="tns:MemberInfoAge" />
  <xs:complexType name="MemberInfoStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALIVE_MEMBER_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL_RECEIVE_MEMBER_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="JOIN_TODAY_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="MAN_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="SMS_RECEIVE_MEMBER_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="TOTAL_GENDER_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="TOTAL_MEMBER_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="WOMAN_COUNT" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInfoStatistics" nillable="true" type="tns:MemberInfoStatistics" />
  <xs:complexType name="ArrayOfMemberInfoSimple">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberInfoSimple" nillable="true" type="tns:MemberInfoSimple" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberInfoSimple" nillable="true" type="tns:ArrayOfMemberInfoSimple" />
  <xs:complexType name="MemberInfoSimple">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberInfoSimple" nillable="true" type="tns:MemberInfoSimple" />
</xs:schema>