Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/RecruitService/RecruitService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNUP_RECRUIT_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_RECRUIT_SELECT_Result" nillable="true" type="tns:NUP_RECRUIT_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_RECRUIT_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_RECRUIT_SELECT_Result" />
  <xs:complexType name="NUP_RECRUIT_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGREEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOB_APPLICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ROWCNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SSNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_CNT" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_RECRUIT_SELECT_Result" nillable="true" type="tns:NUP_RECRUIT_SELECT_Result" />
  <xs:complexType name="tblRecruit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agreement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobApplication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Passed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Seq" type="xs:int" />
      <xs:element minOccurs="0" name="Ssno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewCnt" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblRecruit" nillable="true" type="tns:tblRecruit" />
</xs:schema>