Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/RecruitService/RecruitService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseCondition">
    <xs:sequence>
      <xs:element name="_x003C_CurrentIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CurrentMenuSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCondition" nillable="true" type="tns:BaseCondition" />
</xs:schema>