Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/RecruitService/RecruitService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecruitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://devhkprimid.wowtv.co.kr/Recruit/RecruitService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://devhkprimid.wowtv.co.kr/Recruit/RecruitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://devhkprimid.wowtv.co.kr/Recruit/RecruitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Recruit" />
      <xsd:import schemaLocation="http://devhkprimid.wowtv.co.kr/Recruit/RecruitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://devhkprimid.wowtv.co.kr/Recruit/RecruitService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecruitService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IRecruitService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IRecruitService_GetApplicantInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicantInfo" />
  </wsdl:message>
  <wsdl:message name="IRecruitService_GetApplicantInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicantInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRecruitService_IncreaseViewCnt_InputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseViewCnt" />
  </wsdl:message>
  <wsdl:message name="IRecruitService_IncreaseViewCnt_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseViewCntResponse" />
  </wsdl:message>
  <wsdl:message name="IRecruitService_SaveRecruit_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecruit" />
  </wsdl:message>
  <wsdl:message name="IRecruitService_SaveRecruit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecruitResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecruitService">
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecruitService/SearchList" message="tns:IRecruitService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecruitService/SearchListResponse" message="tns:IRecruitService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicantInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecruitService/GetApplicantInfo" message="tns:IRecruitService_GetApplicantInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecruitService/GetApplicantInfoResponse" message="tns:IRecruitService_GetApplicantInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseViewCnt">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecruitService/IncreaseViewCnt" message="tns:IRecruitService_IncreaseViewCnt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecruitService/IncreaseViewCntResponse" message="tns:IRecruitService_IncreaseViewCnt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRecruit">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecruitService/SaveRecruit" message="tns:IRecruitService_SaveRecruit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecruitService/SaveRecruitResponse" message="tns:IRecruitService_SaveRecruit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecruitService" type="tns:IRecruitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IRecruitService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicantInfo">
      <soap:operation soapAction="http://tempuri.org/IRecruitService/GetApplicantInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseViewCnt">
      <soap:operation soapAction="http://tempuri.org/IRecruitService/IncreaseViewCnt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRecruit">
      <soap:operation soapAction="http://tempuri.org/IRecruitService/SaveRecruit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecruitService">
    <wsdl:port name="BasicHttpBinding_IRecruitService" binding="tns:BasicHttpBinding_IRecruitService">
      <soap:address location="http://devhkprimid.wowtv.co.kr/Recruit/RecruitService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>