Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/BalanceService/BalanceService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.contents.Balance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.contents.Balance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/IRCenter/BalanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="BalanceCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="No" type="xs:int" />
          <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BalanceCondition" nillable="true" type="tns:BalanceCondition" />
  <xs:complexType name="ArrayOfBalanceYear">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BalanceYear" nillable="true" type="tns:BalanceYear" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalanceYear" nillable="true" type="tns:ArrayOfBalanceYear" />
  <xs:complexType name="BalanceYear">
    <xs:sequence>
      <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceYear" nillable="true" type="tns:BalanceYear" />
</xs:schema>