Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/BalanceService/BalanceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BalanceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/IRCenter/BalanceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/IRCenter/BalanceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/IRCenter/BalanceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.contents.Balance" />
      <xsd:import schemaLocation="http://localhost:8088/IRCenter/BalanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/IRCenter/BalanceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.contents" />
      <xsd:import schemaLocation="http://localhost:8088/IRCenter/BalanceService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBalanceService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_GetFrontData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontData" />
  </wsdl:message>
  <wsdl:message name="IBalanceService_GetFrontData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IBalanceService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalanceService/GetList" message="tns:IBalanceService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalanceService/GetListResponse" message="tns:IBalanceService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalanceService/Delete" message="tns:IBalanceService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalanceService/DeleteResponse" message="tns:IBalanceService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalanceService/Save" message="tns:IBalanceService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalanceService/SaveResponse" message="tns:IBalanceService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalanceService/GetData" message="tns:IBalanceService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalanceService/GetDataResponse" message="tns:IBalanceService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFrontData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBalanceService/GetFrontData" message="tns:IBalanceService_GetFrontData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBalanceService/GetFrontDataResponse" message="tns:IBalanceService_GetFrontData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBalanceService" type="tns:IBalanceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IBalanceService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBalanceService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IBalanceService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IBalanceService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrontData">
      <soap:operation soapAction="http://tempuri.org/IBalanceService/GetFrontData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BalanceService">
    <wsdl:port name="BasicHttpBinding_IBalanceService" binding="tns:BasicHttpBinding_IBalanceService">
      <soap:address location="http://localhost:8088/IRCenter/BalanceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>