Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/ExpertService/ExpertService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyProgram/ExpertService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" />
  <xs:import schemaLocation="http://localhost:8088/MyProgram/ExpertService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast.MyProgram" />
  <xs:import schemaLocation="http://localhost:8088/MyProgram/ExpertService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:element name="GetAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetAtResult" nillable="true" type="q1:Pro_wowList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast.MyProgram" minOccurs="0" name="condition" nillable="true" type="q2:ExpertCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListResult" nillable="true" type="q3:ListModelOfPro_wowList3NfObsem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>