Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/MemberMonitoringService/MemberMonitoringService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberMonitoringService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberMonitoringService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberMonitoringService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberMonitoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" />
      <xsd:import schemaLocation="http://localhost:8088/MemberManage/MemberMonitoringService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberMonitoringService_TotalList_InputMessage">
    <wsdl:part name="parameters" element="tns:TotalList" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_TotalList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TotalListResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_NewRegCfm_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRegCfm" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_NewRegCfm_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRegCfmResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_AccAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:AccAuth" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_AccAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_AccLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AccLog" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_AccLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccLogResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_WorkOutLogHist_InputMessage">
    <wsdl:part name="parameters" element="tns:WorkOutLogHist" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_WorkOutLogHist_OutputMessage">
    <wsdl:part name="parameters" element="tns:WorkOutLogHistResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_MemInfoOpenChk_InputMessage">
    <wsdl:part name="parameters" element="tns:MemInfoOpenChk" />
  </wsdl:message>
  <wsdl:message name="IMemberMonitoringService_MemInfoOpenChk_OutputMessage">
    <wsdl:part name="parameters" element="tns:MemInfoOpenChkResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberMonitoringService">
    <wsdl:operation name="TotalList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberMonitoringService/TotalList" message="tns:IMemberMonitoringService_TotalList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberMonitoringService/TotalListResponse" message="tns:IMemberMonitoringService_TotalList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRegCfm">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberMonitoringService/NewRegCfm" message="tns:IMemberMonitoringService_NewRegCfm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberMonitoringService/NewRegCfmResponse" message="tns:IMemberMonitoringService_NewRegCfm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberMonitoringService/AccAuth" message="tns:IMemberMonitoringService_AccAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberMonitoringService/AccAuthResponse" message="tns:IMemberMonitoringService_AccAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberMonitoringService/AccLog" message="tns:IMemberMonitoringService_AccLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberMonitoringService/AccLogResponse" message="tns:IMemberMonitoringService_AccLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WorkOutLogHist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberMonitoringService/WorkOutLogHist" message="tns:IMemberMonitoringService_WorkOutLogHist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberMonitoringService/WorkOutLogHistResponse" message="tns:IMemberMonitoringService_WorkOutLogHist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MemInfoOpenChk">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberMonitoringService/MemInfoOpenChk" message="tns:IMemberMonitoringService_MemInfoOpenChk_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberMonitoringService/MemInfoOpenChkResponse" message="tns:IMemberMonitoringService_MemInfoOpenChk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberMonitoringService" type="tns:IMemberMonitoringService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TotalList">
      <soap:operation soapAction="http://tempuri.org/IMemberMonitoringService/TotalList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegCfm">
      <soap:operation soapAction="http://tempuri.org/IMemberMonitoringService/NewRegCfm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccAuth">
      <soap:operation soapAction="http://tempuri.org/IMemberMonitoringService/AccAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccLog">
      <soap:operation soapAction="http://tempuri.org/IMemberMonitoringService/AccLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WorkOutLogHist">
      <soap:operation soapAction="http://tempuri.org/IMemberMonitoringService/WorkOutLogHist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MemInfoOpenChk">
      <soap:operation soapAction="http://tempuri.org/IMemberMonitoringService/MemInfoOpenChk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberMonitoringService">
    <wsdl:port name="BasicHttpBinding_IMemberMonitoringService" binding="tns:BasicHttpBinding_IMemberMonitoringService">
      <soap:address location="http://localhost:8088/MemberManage/MemberMonitoringService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>