Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/MemberMonitoringService/MemberMonitoringService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberMonitoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" />
  <xs:import schemaLocation="http://localhost:8088/MemberManage/MemberMonitoringService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:element name="TotalList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" minOccurs="0" name="condition" nillable="true" type="q1:TotalListCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotalListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="TotalListResult" nillable="true" type="q2:ListModelOfTotalListResult_POdCAZCu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegCfm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" minOccurs="0" name="condition" nillable="true" type="q3:NewRegCfmCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRegCfmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="NewRegCfmResult" nillable="true" type="q4:ListModelOfNewRegCfmResult_POdCAZCu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" minOccurs="0" name="condition" nillable="true" type="q5:AccAuthCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="AccAuthResult" nillable="true" type="q6:ListModelOfAccAuthResult_POdCAZCu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" minOccurs="0" name="condition" nillable="true" type="q7:AccLogCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="AccLogResult" nillable="true" type="q8:ListModelOfAccLogResult_POdCAZCu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkOutLogHist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" minOccurs="0" name="condition" nillable="true" type="q9:WorkOutLogHistCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkOutLogHistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="WorkOutLogHistResult" nillable="true" type="q10:ListModelOfWorkOutLogHistResult_POdCAZCu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemInfoOpenChk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MemberManage" minOccurs="0" name="condition" nillable="true" type="q11:MemInfoOpenChkCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemInfoOpenChkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="MemInfoOpenChkResult" nillable="true" type="q12:ListModelOfMemInfoOpenChkResult_POdCAZCu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>