Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/TradingStarService/TradingStarService65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.TradingStar" />
  <xs:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
  <xs:element name="CategoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="CategoryListResult" nillable="true" type="q1:ArrayOftblTradingStarCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tradingCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetCategoryResult" nillable="true" type="q2:tblTradingStarCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategorySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="tradingstarCategory" nillable="true" type="q3:tblTradingStarCategory" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q4:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategorySaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.TradingStar" minOccurs="0" name="condition" nillable="true" type="q5:TradingStarCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="UserListResult" nillable="true" type="q6:ListModelOftblTradingStarUseraHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="tradingStarUser" nillable="true" type="q7:tblTradingStarUser" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q8:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetUserResult" nillable="true" type="q9:tblTradingStarUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regseq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="TradeListResult" nillable="true" type="q10:ArrayOftblTradingStarTrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="tradingStarUser" nillable="true" type="q11:tblTradingStarTrade" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q12:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TradeSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetTradeResult" nillable="true" type="q13:tblTradingStarTrade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentStockPriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="korname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentStockPriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="CurrentStockPriceListResult" nillable="true" type="q14:ArrayOftblOnlineSise" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEarningRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
        <xs:element minOccurs="0" name="earningRateSum" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEarningRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTotalHavaRateText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="regSeq" type="xs:int" />
        <xs:element minOccurs="0" name="totalHavaRateText" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTotalHavaRateTextResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="condition" nillable="true" type="q15:StockBatchCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetStockListResult" nillable="true" type="q16:ListModelOftblStockBatchG0lwexyN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStarMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
        <xs:element minOccurs="0" name="starMark" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStarMarkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>