Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/TradingStarService/TradingStarService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblTradingStarCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblTradingStarCategory" nillable="true" type="tns:tblTradingStarCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblTradingStarCategory" nillable="true" type="tns:ArrayOftblTradingStarCategory" />
  <xs:complexType name="tblTradingStarCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="codeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="regdt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="startDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tradingCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblTradingStarCategory" nillable="true" type="tns:tblTradingStarCategory" />
  <xs:complexType name="ArrayOftblTradingStarUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblTradingStarUser" nillable="true" type="tns:tblTradingStarUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblTradingStarUser" nillable="true" type="tns:ArrayOftblTradingStarUser" />
  <xs:complexType name="tblTradingStarUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="earningRateSum" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="introduce" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="memo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pro_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="replyid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="seq" type="xs:int" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockchar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalHavaRateText" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="totalScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="totalStarMark" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="tradingCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weekname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblTradingStarUser" nillable="true" type="tns:tblTradingStarUser" />
  <xs:complexType name="ArrayOftblTradingStarTrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblTradingStarTrade" nillable="true" type="tns:tblTradingStarTrade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblTradingStarTrade" nillable="true" type="tns:ArrayOftblTradingStarTrade" />
  <xs:complexType name="tblTradingStarTrade">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentPrice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HaveCnt" type="xs:int" />
      <xs:element minOccurs="0" name="HoldProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="SellProfitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="broaddt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="buycost" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="buydt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="buystate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="earningRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="goalEarningRate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="losscutCost" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="regdt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="regseq" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sellcost" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="selldt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="seq" type="xs:int" />
      <xs:element minOccurs="0" name="starMark" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="strategybuy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strategylosscut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strategytarget" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="targetCost" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="topperEarningRate" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblTradingStarTrade" nillable="true" type="tns:tblTradingStarTrade" />
</xs:schema>