Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/TradingStarService/TradingStarService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TradingStarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.TradingStar" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/TradingStarService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.Admin" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITradingStarService_CategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoryList" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_CategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategory" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_CategorySave_InputMessage">
    <wsdl:part name="parameters" element="tns:CategorySave" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_CategorySave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategorySaveResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UserList_InputMessage">
    <wsdl:part name="parameters" element="tns:UserList" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserListResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UserDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:UserDelete" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UserDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UserSave_InputMessage">
    <wsdl:part name="parameters" element="tns:UserSave" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UserSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserSaveResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_TradeList_InputMessage">
    <wsdl:part name="parameters" element="tns:TradeList" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_TradeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TradeListResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_TradeDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:TradeDelete" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_TradeDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:TradeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_TradeSave_InputMessage">
    <wsdl:part name="parameters" element="tns:TradeSave" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_TradeSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:TradeSaveResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetTrade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrade" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetTrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_CurrentStockPriceList_InputMessage">
    <wsdl:part name="parameters" element="tns:CurrentStockPriceList" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_CurrentStockPriceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CurrentStockPriceListResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UpdateEarningRate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEarningRate" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UpdateEarningRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEarningRateResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UpdateTotalHavaRateText_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTotalHavaRateText" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UpdateTotalHavaRateText_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTotalHavaRateTextResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetStockList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockList" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_GetStockList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockListResponse" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UpdateStarMark_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStarMark" />
  </wsdl:message>
  <wsdl:message name="ITradingStarService_UpdateStarMark_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStarMarkResponse" />
  </wsdl:message>
  <wsdl:portType name="ITradingStarService">
    <wsdl:operation name="CategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/CategoryList" message="tns:ITradingStarService_CategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/CategoryListResponse" message="tns:ITradingStarService_CategoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/GetCategory" message="tns:ITradingStarService_GetCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/GetCategoryResponse" message="tns:ITradingStarService_GetCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategorySave">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/CategorySave" message="tns:ITradingStarService_CategorySave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/CategorySaveResponse" message="tns:ITradingStarService_CategorySave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/UserList" message="tns:ITradingStarService_UserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/UserListResponse" message="tns:ITradingStarService_UserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/UserDelete" message="tns:ITradingStarService_UserDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/UserDeleteResponse" message="tns:ITradingStarService_UserDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserSave">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/UserSave" message="tns:ITradingStarService_UserSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/UserSaveResponse" message="tns:ITradingStarService_UserSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/GetUser" message="tns:ITradingStarService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/GetUserResponse" message="tns:ITradingStarService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TradeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/TradeList" message="tns:ITradingStarService_TradeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/TradeListResponse" message="tns:ITradingStarService_TradeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TradeDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/TradeDelete" message="tns:ITradingStarService_TradeDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/TradeDeleteResponse" message="tns:ITradingStarService_TradeDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TradeSave">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/TradeSave" message="tns:ITradingStarService_TradeSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/TradeSaveResponse" message="tns:ITradingStarService_TradeSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrade">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/GetTrade" message="tns:ITradingStarService_GetTrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/GetTradeResponse" message="tns:ITradingStarService_GetTrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CurrentStockPriceList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/CurrentStockPriceList" message="tns:ITradingStarService_CurrentStockPriceList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/CurrentStockPriceListResponse" message="tns:ITradingStarService_CurrentStockPriceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEarningRate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/UpdateEarningRate" message="tns:ITradingStarService_UpdateEarningRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/UpdateEarningRateResponse" message="tns:ITradingStarService_UpdateEarningRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTotalHavaRateText">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/UpdateTotalHavaRateText" message="tns:ITradingStarService_UpdateTotalHavaRateText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/UpdateTotalHavaRateTextResponse" message="tns:ITradingStarService_UpdateTotalHavaRateText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/GetStockList" message="tns:ITradingStarService_GetStockList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/GetStockListResponse" message="tns:ITradingStarService_GetStockList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStarMark">
      <wsdl:input wsaw:Action="http://tempuri.org/ITradingStarService/UpdateStarMark" message="tns:ITradingStarService_UpdateStarMark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITradingStarService/UpdateStarMarkResponse" message="tns:ITradingStarService_UpdateStarMark_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITradingStarService" type="tns:ITradingStarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CategoryList">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/CategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategory">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/GetCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategorySave">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/CategorySave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/UserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserDelete">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/UserDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserSave">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/UserSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TradeList">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/TradeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TradeDelete">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/TradeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TradeSave">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/TradeSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrade">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/GetTrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentStockPriceList">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/CurrentStockPriceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEarningRate">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/UpdateEarningRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTotalHavaRateText">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/UpdateTotalHavaRateText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockList">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/GetStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStarMark">
      <soap:operation soapAction="http://tempuri.org/ITradingStarService/UpdateStarMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TradingStarService">
    <wsdl:port name="BasicHttpBinding_ITradingStarService" binding="tns:BasicHttpBinding_ITradingStarService">
      <soap:address location="http://localhost:8088/Admin/TradingStarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>