Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/FamilyService/FamilyService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FamilyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Family" />
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8088/Family/FamilyService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFamilyService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_DeleteList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteList" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_DeleteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListResponse" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_UpDown_InputMessage">
    <wsdl:part name="parameters" element="tns:UpDown" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_UpDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpDownResponse" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_ExcelExport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExport" />
  </wsdl:message>
  <wsdl:message name="IFamilyService_ExcelExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExportResponse" />
  </wsdl:message>
  <wsdl:portType name="IFamilyService">
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFamilyService/SearchList" message="tns:IFamilyService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFamilyService/SearchListResponse" message="tns:IFamilyService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IFamilyService/GetAt" message="tns:IFamilyService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFamilyService/GetAtResponse" message="tns:IFamilyService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IFamilyService/Save" message="tns:IFamilyService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFamilyService/SaveResponse" message="tns:IFamilyService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IFamilyService/Delete" message="tns:IFamilyService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFamilyService/DeleteResponse" message="tns:IFamilyService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFamilyService/DeleteList" message="tns:IFamilyService_DeleteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFamilyService/DeleteListResponse" message="tns:IFamilyService_DeleteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IFamilyService/UpDown" message="tns:IFamilyService_UpDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFamilyService/UpDownResponse" message="tns:IFamilyService_UpDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IFamilyService/ExcelExport" message="tns:IFamilyService_ExcelExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFamilyService/ExcelExportResponse" message="tns:IFamilyService_ExcelExport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFamilyService" type="tns:IFamilyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IFamilyService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/IFamilyService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IFamilyService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IFamilyService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <soap:operation soapAction="http://tempuri.org/IFamilyService/DeleteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDown">
      <soap:operation soapAction="http://tempuri.org/IFamilyService/UpDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <soap:operation soapAction="http://tempuri.org/IFamilyService/ExcelExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FamilyService">
    <wsdl:port name="BasicHttpBinding_IFamilyService" binding="tns:BasicHttpBinding_IFamilyService">
      <soap:address location="http://localhost:8088/Family/FamilyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>