Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/FamilyService/FamilyService71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_FAMILY">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_FAMILY" nillable="true" type="tns:NTB_FAMILY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_FAMILY" nillable="true" type="tns:ArrayOfNTB_FAMILY" />
  <xs:complexType name="NTB_FAMILY">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAMILY_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="GROUP_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SITE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_FAMILY" nillable="true" type="tns:NTB_FAMILY" />
</xs:schema>