Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/MemberUtilService/MemberUtilService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MemberUtilService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberUtilService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberUtilService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Member/MemberUtilService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMemberUtilService_SmsTempPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SmsTempPassword" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_SmsTempPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SmsTempPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_SmsDormancyAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:SmsDormancyAuth" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_SmsDormancyAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:SmsDormancyAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailAuth_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailAuth" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailAuth_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailAuthResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailRegistGeneral_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailRegistGeneral" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailRegistGeneral_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailRegistGeneralResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailRegistCompany_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailRegistCompany" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailRegistCompany_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailRegistCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailUserEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailUserEdit" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailUserEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailUserEditResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailCompanyRegistRejectAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailCompanyRegistRejectAlarm" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailCompanyRegistRejectAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailCompanyRegistRejectAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailFindIdAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailFindIdAlarm" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailFindIdAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailFindIdAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailFindPasswordAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailFindPasswordAlarm" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailFindPasswordAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailFindPasswordAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailUserSecession_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailUserSecession" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailUserSecession_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailUserSecessionResponse" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailTemplateTest_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailTemplateTest" />
  </wsdl:message>
  <wsdl:message name="IMemberUtilService_EmailTemplateTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailTemplateTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IMemberUtilService">
    <wsdl:operation name="SmsTempPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/SmsTempPassword" message="tns:IMemberUtilService_SmsTempPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/SmsTempPasswordResponse" message="tns:IMemberUtilService_SmsTempPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SmsDormancyAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/SmsDormancyAuth" message="tns:IMemberUtilService_SmsDormancyAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/SmsDormancyAuthResponse" message="tns:IMemberUtilService_SmsDormancyAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailAuth">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailAuth" message="tns:IMemberUtilService_EmailAuth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailAuthResponse" message="tns:IMemberUtilService_EmailAuth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailRegistGeneral">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailRegistGeneral" message="tns:IMemberUtilService_EmailRegistGeneral_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailRegistGeneralResponse" message="tns:IMemberUtilService_EmailRegistGeneral_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailRegistCompany">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailRegistCompany" message="tns:IMemberUtilService_EmailRegistCompany_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailRegistCompanyResponse" message="tns:IMemberUtilService_EmailRegistCompany_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailUserEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailUserEdit" message="tns:IMemberUtilService_EmailUserEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailUserEditResponse" message="tns:IMemberUtilService_EmailUserEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailCompanyRegistRejectAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailCompanyRegistRejectAlarm" message="tns:IMemberUtilService_EmailCompanyRegistRejectAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailCompanyRegistRejectAlarmResponse" message="tns:IMemberUtilService_EmailCompanyRegistRejectAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailFindIdAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailFindIdAlarm" message="tns:IMemberUtilService_EmailFindIdAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailFindIdAlarmResponse" message="tns:IMemberUtilService_EmailFindIdAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailFindPasswordAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailFindPasswordAlarm" message="tns:IMemberUtilService_EmailFindPasswordAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailFindPasswordAlarmResponse" message="tns:IMemberUtilService_EmailFindPasswordAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailUserSecession">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailUserSecession" message="tns:IMemberUtilService_EmailUserSecession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailUserSecessionResponse" message="tns:IMemberUtilService_EmailUserSecession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailTemplateTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMemberUtilService/EmailTemplateTest" message="tns:IMemberUtilService_EmailTemplateTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMemberUtilService/EmailTemplateTestResponse" message="tns:IMemberUtilService_EmailTemplateTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMemberUtilService" type="tns:IMemberUtilService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SmsTempPassword">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/SmsTempPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SmsDormancyAuth">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/SmsDormancyAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailAuth">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailRegistGeneral">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailRegistGeneral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailRegistCompany">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailRegistCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUserEdit">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailUserEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailCompanyRegistRejectAlarm">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailCompanyRegistRejectAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailFindIdAlarm">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailFindIdAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailFindPasswordAlarm">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailFindPasswordAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailUserSecession">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailUserSecession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailTemplateTest">
      <soap:operation soapAction="http://tempuri.org/IMemberUtilService/EmailTemplateTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberUtilService">
    <wsdl:port name="BasicHttpBinding_IMemberUtilService" binding="tns:BasicHttpBinding_IMemberUtilService">
      <soap:address location="http://localhost:8088/Member/MemberUtilService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>