Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/ActionLogService/ActionLogService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_ACTION_LOG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_ACTION_LOG" nillable="true" type="tns:NTB_ACTION_LOG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_ACTION_LOG" nillable="true" type="tns:ArrayOfNTB_ACTION_LOG" />
  <xs:complexType name="NTB_ACTION_LOG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTION_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACTION_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="ADD_INFO_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADD_INFO_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_ACTION_LOG" nillable="true" type="tns:NTB_ACTION_LOG" />
</xs:schema>