Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/ActionLogService/ActionLogService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActionLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.ActionLog" />
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ActionLog" />
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActionLogService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IActionLogService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IActionLogService_CreateIUCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIUCheck" />
  </wsdl:message>
  <wsdl:message name="IActionLogService_CreateIUCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIUCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IActionLogService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IActionLogService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IActionLogService_ExcelExport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExport" />
  </wsdl:message>
  <wsdl:message name="IActionLogService_ExcelExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExportResponse" />
  </wsdl:message>
  <wsdl:portType name="IActionLogService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionLogService/Create" message="tns:IActionLogService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionLogService/CreateResponse" message="tns:IActionLogService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIUCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionLogService/CreateIUCheck" message="tns:IActionLogService_CreateIUCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionLogService/CreateIUCheckResponse" message="tns:IActionLogService_CreateIUCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionLogService/SearchList" message="tns:IActionLogService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionLogService/SearchListResponse" message="tns:IActionLogService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IActionLogService/ExcelExport" message="tns:IActionLogService_ExcelExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActionLogService/ExcelExportResponse" message="tns:IActionLogService_ExcelExport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActionLogService" type="tns:IActionLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IActionLogService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIUCheck">
      <soap:operation soapAction="http://tempuri.org/IActionLogService/CreateIUCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IActionLogService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <soap:operation soapAction="http://tempuri.org/IActionLogService/ExcelExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActionLogService">
    <wsdl:port name="BasicHttpBinding_IActionLogService" binding="tns:BasicHttpBinding_IActionLogService">
      <soap:address location="http://localhost:8088/ActionLog/ActionLogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>