Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/ActionLogService/ActionLogService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.ActionLog" />
  <xs:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ActionLog" />
  <xs:import schemaLocation="http://localhost:8088/ActionLog/ActionLogService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuSeq" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.ActionLog" minOccurs="0" name="actionCode" type="q1:ActionLogBiz.ActionCode" />
        <xs:element minOccurs="0" name="addInfo1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addInfo2" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q2:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIUCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuSeq" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tableKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addInfo1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addInfo2" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q3:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIUCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ActionLog" minOccurs="0" name="condition" nillable="true" type="q4:ActionLogCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListResult" nillable="true" type="q5:ListModelOfNTB_ACTION_LOGaHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.ActionLog" minOccurs="0" name="condition" nillable="true" type="q6:ActionLogCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ExcelExportResult" nillable="true" type="q7:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>