Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/StockholderBoardService/StockholderBoardService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StockholderBoardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/PostManage/StockholderBoardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/PostManage/StockholderBoardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/PostManage/StockholderBoardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.StockholderBoard" />
      <xsd:import schemaLocation="http://localhost:8088/PostManage/StockholderBoardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/PostManage/StockholderBoardService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/PostManage/StockholderBoardService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockholderBoardService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_GetDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetail" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_GetDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_BoardSave_InputMessage">
    <wsdl:part name="parameters" element="tns:BoardSave" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_BoardSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:BoardSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_ReplySave_InputMessage">
    <wsdl:part name="parameters" element="tns:ReplySave" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_ReplySave_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReplySaveResponse" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_UpdateBlind_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlind" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_UpdateBlind_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlindResponse" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_UpdateReadCnt_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReadCnt" />
  </wsdl:message>
  <wsdl:message name="IStockholderBoardService_UpdateReadCnt_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReadCntResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockholderBoardService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockholderBoardService/GetList" message="tns:IStockholderBoardService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockholderBoardService/GetListResponse" message="tns:IStockholderBoardService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockholderBoardService/GetDetail" message="tns:IStockholderBoardService_GetDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockholderBoardService/GetDetailResponse" message="tns:IStockholderBoardService_GetDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BoardSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockholderBoardService/BoardSave" message="tns:IStockholderBoardService_BoardSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockholderBoardService/BoardSaveResponse" message="tns:IStockholderBoardService_BoardSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReplySave">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockholderBoardService/ReplySave" message="tns:IStockholderBoardService_ReplySave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockholderBoardService/ReplySaveResponse" message="tns:IStockholderBoardService_ReplySave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockholderBoardService/Delete" message="tns:IStockholderBoardService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockholderBoardService/DeleteResponse" message="tns:IStockholderBoardService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBlind">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockholderBoardService/UpdateBlind" message="tns:IStockholderBoardService_UpdateBlind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockholderBoardService/UpdateBlindResponse" message="tns:IStockholderBoardService_UpdateBlind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReadCnt">
      <wsdl:input wsaw:Action="http://tempuri.org/IStockholderBoardService/UpdateReadCnt" message="tns:IStockholderBoardService_UpdateReadCnt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStockholderBoardService/UpdateReadCntResponse" message="tns:IStockholderBoardService_UpdateReadCnt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStockholderBoardService" type="tns:IStockholderBoardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IStockholderBoardService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetail">
      <soap:operation soapAction="http://tempuri.org/IStockholderBoardService/GetDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BoardSave">
      <soap:operation soapAction="http://tempuri.org/IStockholderBoardService/BoardSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReplySave">
      <soap:operation soapAction="http://tempuri.org/IStockholderBoardService/ReplySave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IStockholderBoardService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlind">
      <soap:operation soapAction="http://tempuri.org/IStockholderBoardService/UpdateBlind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReadCnt">
      <soap:operation soapAction="http://tempuri.org/IStockholderBoardService/UpdateReadCnt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockholderBoardService">
    <wsdl:port name="BasicHttpBinding_IStockholderBoardService" binding="tns:BasicHttpBinding_IStockholderBoardService">
      <soap:address location="http://localhost:8088/PostManage/StockholderBoardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>