Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/StockholderBoardService/StockholderBoardService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NTB_STOCKHOLDER_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGREE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="READ_CNT" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STOCKHOLDER_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UP_STOCKHOLDER_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_STOCKHOLDER_BOARD" nillable="true" type="tns:NTB_STOCKHOLDER_BOARD" />
  <xs:complexType name="ArrayOfNTB_STOCKHOLDER_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_STOCKHOLDER_BOARD" nillable="true" type="tns:NTB_STOCKHOLDER_BOARD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_STOCKHOLDER_BOARD" nillable="true" type="tns:ArrayOfNTB_STOCKHOLDER_BOARD" />
</xs:schema>