Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/CTGRManageService/CTGRManageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTGRManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/History/CTGRManageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/History/CTGRManageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/History/CTGRManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.History" />
      <xsd:import schemaLocation="http://localhost:8088/History/CTGRManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/History/CTGRManageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICTGRManageService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_GetMaxYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxYear" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_GetMaxYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxYearResponse" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_GetCTGRList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCTGRList" />
  </wsdl:message>
  <wsdl:message name="ICTGRManageService_GetCTGRList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCTGRListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICTGRManageService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTGRManageService/GetList" message="tns:ICTGRManageService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTGRManageService/GetListResponse" message="tns:ICTGRManageService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTGRManageService/Save" message="tns:ICTGRManageService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTGRManageService/SaveResponse" message="tns:ICTGRManageService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTGRManageService/Delete" message="tns:ICTGRManageService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTGRManageService/DeleteResponse" message="tns:ICTGRManageService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTGRManageService/GetMaxYear" message="tns:ICTGRManageService_GetMaxYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTGRManageService/GetMaxYearResponse" message="tns:ICTGRManageService_GetMaxYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCTGRList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTGRManageService/GetCTGRList" message="tns:ICTGRManageService_GetCTGRList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTGRManageService/GetCTGRListResponse" message="tns:ICTGRManageService_GetCTGRList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICTGRManageService" type="tns:ICTGRManageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ICTGRManageService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICTGRManageService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICTGRManageService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxYear">
      <soap:operation soapAction="http://tempuri.org/ICTGRManageService/GetMaxYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCTGRList">
      <soap:operation soapAction="http://tempuri.org/ICTGRManageService/GetCTGRList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTGRManageService">
    <wsdl:port name="BasicHttpBinding_ICTGRManageService" binding="tns:BasicHttpBinding_ICTGRManageService">
      <soap:address location="http://localhost:8088/History/CTGRManageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>