Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/GroupService/GroupService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GroupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Group/GroupService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Group/GroupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Group/GroupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Group" />
      <xsd:import schemaLocation="http://localhost:8088/Group/GroupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Group/GroupService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGroupService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IGroupService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="IGroupService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IGroupService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IGroupService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_Copy_InputMessage">
    <wsdl:part name="parameters" element="tns:Copy" />
  </wsdl:message>
  <wsdl:message name="IGroupService_Copy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_B_InputMessage">
    <wsdl:part name="parameters" element="tns:B" />
  </wsdl:message>
  <wsdl:message name="IGroupService_B_OutputMessage">
    <wsdl:part name="parameters" element="tns:BResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_BB_InputMessage">
    <wsdl:part name="parameters" element="tns:BB" />
  </wsdl:message>
  <wsdl:message name="IGroupService_BB_OutputMessage">
    <wsdl:part name="parameters" element="tns:BBResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_BBB_InputMessage">
    <wsdl:part name="parameters" element="tns:BBB" />
  </wsdl:message>
  <wsdl:message name="IGroupService_BBB_OutputMessage">
    <wsdl:part name="parameters" element="tns:BBBResponse" />
  </wsdl:message>
  <wsdl:message name="IGroupService_BBBB_InputMessage">
    <wsdl:part name="parameters" element="tns:BBBB" />
  </wsdl:message>
  <wsdl:message name="IGroupService_BBBB_OutputMessage">
    <wsdl:part name="parameters" element="tns:BBBBResponse" />
  </wsdl:message>
  <wsdl:portType name="IGroupService">
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/SearchList" message="tns:IGroupService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/SearchListResponse" message="tns:IGroupService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/GetAt" message="tns:IGroupService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/GetAtResponse" message="tns:IGroupService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/Save" message="tns:IGroupService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/SaveResponse" message="tns:IGroupService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/Delete" message="tns:IGroupService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/DeleteResponse" message="tns:IGroupService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/Copy" message="tns:IGroupService_Copy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/CopyResponse" message="tns:IGroupService_Copy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="B">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/B" message="tns:IGroupService_B_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/BResponse" message="tns:IGroupService_B_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BB">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/BB" message="tns:IGroupService_BB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/BBResponse" message="tns:IGroupService_BB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BBB">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/BBB" message="tns:IGroupService_BBB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/BBBResponse" message="tns:IGroupService_BBB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BBBB">
      <wsdl:input wsaw:Action="http://tempuri.org/IGroupService/BBBB" message="tns:IGroupService_BBBB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGroupService/BBBBResponse" message="tns:IGroupService_BBBB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGroupService" type="tns:IGroupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IGroupService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/IGroupService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IGroupService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IGroupService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Copy">
      <soap:operation soapAction="http://tempuri.org/IGroupService/Copy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="B">
      <soap:operation soapAction="http://tempuri.org/IGroupService/B" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BB">
      <soap:operation soapAction="http://tempuri.org/IGroupService/BB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BBB">
      <soap:operation soapAction="http://tempuri.org/IGroupService/BBB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BBBB">
      <soap:operation soapAction="http://tempuri.org/IGroupService/BBBB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupService">
    <wsdl:port name="BasicHttpBinding_IGroupService" binding="tns:BasicHttpBinding_IGroupService">
      <soap:address location="http://localhost:8088/Group/GroupService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>