Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/HolidayTimeMngService/HolidayTimeMngService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_SISE_TIME">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_SISE_TIME" nillable="true" type="tns:NTB_SISE_TIME" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_SISE_TIME" nillable="true" type="tns:ArrayOfNTB_SISE_TIME" />
  <xs:complexType name="NTB_SISE_TIME">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLIDAY_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_DT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_END_H" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_END_M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_HOLY_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="MARKET_STA_H" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_STA_M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_SISE_TIME" nillable="true" type="tns:NTB_SISE_TIME" />
  <xs:complexType name="NTB_SISE_MASTER">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SISE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="TRAD_END_H" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAD_END_M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAD_STA_H" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRAD_STA_M" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_SISE_MASTER" nillable="true" type="tns:NTB_SISE_MASTER" />
</xs:schema>