Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/RegCateManageService/RegCateManageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegCateManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/RegCateManage/RegCateManageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/RegCateManage/RegCateManageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/RegCateManage/RegCateManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegCateManageService_YearIncomeList_InputMessage">
    <wsdl:part name="parameters" element="tns:YearIncomeList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_YearIncomeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:YearIncomeListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_YearIncomeSave_InputMessage">
    <wsdl:part name="parameters" element="tns:YearIncomeSave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_YearIncomeSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:YearIncomeSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstFavorObjList_InputMessage">
    <wsdl:part name="parameters" element="tns:IvstFavorObjList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstFavorObjList_OutputMessage">
    <wsdl:part name="parameters" element="tns:IvstFavorObjListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstFavorObjSave_InputMessage">
    <wsdl:part name="parameters" element="tns:IvstFavorObjSave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstFavorObjSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:IvstFavorObjSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_OrgnInfoAcquirerList_InputMessage">
    <wsdl:part name="parameters" element="tns:OrgnInfoAcquirerList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_OrgnInfoAcquirerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrgnInfoAcquirerListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_OrgnInfoAcquirerSave_InputMessage">
    <wsdl:part name="parameters" element="tns:OrgnInfoAcquirerSave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_OrgnInfoAcquirerSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrgnInfoAcquirerSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstProdList_InputMessage">
    <wsdl:part name="parameters" element="tns:IvstProdList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstProdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:IvstProdListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstProdSave_InputMessage">
    <wsdl:part name="parameters" element="tns:IvstProdSave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstProdSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:IvstProdSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_InvstTendencyList_InputMessage">
    <wsdl:part name="parameters" element="tns:InvstTendencyList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_InvstTendencyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvstTendencyListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_InvstTendencySave_InputMessage">
    <wsdl:part name="parameters" element="tns:InvstTendencySave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_InvstTendencySave_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvstTendencySaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_MainStockTraderList_InputMessage">
    <wsdl:part name="parameters" element="tns:MainStockTraderList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_MainStockTraderList_OutputMessage">
    <wsdl:part name="parameters" element="tns:MainStockTraderListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_MainStockTraderSave_InputMessage">
    <wsdl:part name="parameters" element="tns:MainStockTraderSave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_MainStockTraderSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:MainStockTraderSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstScaleList_InputMessage">
    <wsdl:part name="parameters" element="tns:IvstScaleList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstScaleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:IvstScaleListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstScaleSave_InputMessage">
    <wsdl:part name="parameters" element="tns:IvstScaleSave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_IvstScaleSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:IvstScaleSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_FavorFieldList_InputMessage">
    <wsdl:part name="parameters" element="tns:FavorFieldList" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_FavorFieldList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavorFieldListResponse" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_FavorFieldSave_InputMessage">
    <wsdl:part name="parameters" element="tns:FavorFieldSave" />
  </wsdl:message>
  <wsdl:message name="IRegCateManageService_FavorFieldSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:FavorFieldSaveResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegCateManageService">
    <wsdl:operation name="YearIncomeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/YearIncomeList" message="tns:IRegCateManageService_YearIncomeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/YearIncomeListResponse" message="tns:IRegCateManageService_YearIncomeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YearIncomeSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/YearIncomeSave" message="tns:IRegCateManageService_YearIncomeSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/YearIncomeSaveResponse" message="tns:IRegCateManageService_YearIncomeSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IvstFavorObjList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/IvstFavorObjList" message="tns:IRegCateManageService_IvstFavorObjList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/IvstFavorObjListResponse" message="tns:IRegCateManageService_IvstFavorObjList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IvstFavorObjSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/IvstFavorObjSave" message="tns:IRegCateManageService_IvstFavorObjSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/IvstFavorObjSaveResponse" message="tns:IRegCateManageService_IvstFavorObjSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrgnInfoAcquirerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/OrgnInfoAcquirerList" message="tns:IRegCateManageService_OrgnInfoAcquirerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/OrgnInfoAcquirerListResponse" message="tns:IRegCateManageService_OrgnInfoAcquirerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrgnInfoAcquirerSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/OrgnInfoAcquirerSave" message="tns:IRegCateManageService_OrgnInfoAcquirerSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/OrgnInfoAcquirerSaveResponse" message="tns:IRegCateManageService_OrgnInfoAcquirerSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IvstProdList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/IvstProdList" message="tns:IRegCateManageService_IvstProdList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/IvstProdListResponse" message="tns:IRegCateManageService_IvstProdList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IvstProdSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/IvstProdSave" message="tns:IRegCateManageService_IvstProdSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/IvstProdSaveResponse" message="tns:IRegCateManageService_IvstProdSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvstTendencyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/InvstTendencyList" message="tns:IRegCateManageService_InvstTendencyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/InvstTendencyListResponse" message="tns:IRegCateManageService_InvstTendencyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvstTendencySave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/InvstTendencySave" message="tns:IRegCateManageService_InvstTendencySave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/InvstTendencySaveResponse" message="tns:IRegCateManageService_InvstTendencySave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MainStockTraderList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/MainStockTraderList" message="tns:IRegCateManageService_MainStockTraderList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/MainStockTraderListResponse" message="tns:IRegCateManageService_MainStockTraderList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MainStockTraderSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/MainStockTraderSave" message="tns:IRegCateManageService_MainStockTraderSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/MainStockTraderSaveResponse" message="tns:IRegCateManageService_MainStockTraderSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IvstScaleList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/IvstScaleList" message="tns:IRegCateManageService_IvstScaleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/IvstScaleListResponse" message="tns:IRegCateManageService_IvstScaleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IvstScaleSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/IvstScaleSave" message="tns:IRegCateManageService_IvstScaleSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/IvstScaleSaveResponse" message="tns:IRegCateManageService_IvstScaleSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FavorFieldList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/FavorFieldList" message="tns:IRegCateManageService_FavorFieldList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/FavorFieldListResponse" message="tns:IRegCateManageService_FavorFieldList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FavorFieldSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegCateManageService/FavorFieldSave" message="tns:IRegCateManageService_FavorFieldSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegCateManageService/FavorFieldSaveResponse" message="tns:IRegCateManageService_FavorFieldSave_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegCateManageService" type="tns:IRegCateManageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YearIncomeList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/YearIncomeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YearIncomeSave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/YearIncomeSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IvstFavorObjList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/IvstFavorObjList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IvstFavorObjSave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/IvstFavorObjSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrgnInfoAcquirerList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/OrgnInfoAcquirerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrgnInfoAcquirerSave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/OrgnInfoAcquirerSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IvstProdList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/IvstProdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IvstProdSave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/IvstProdSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvstTendencyList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/InvstTendencyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvstTendencySave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/InvstTendencySave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MainStockTraderList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/MainStockTraderList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MainStockTraderSave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/MainStockTraderSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IvstScaleList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/IvstScaleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IvstScaleSave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/IvstScaleSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FavorFieldList">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/FavorFieldList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FavorFieldSave">
      <soap:operation soapAction="http://tempuri.org/IRegCateManageService/FavorFieldSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegCateManageService">
    <wsdl:port name="BasicHttpBinding_IRegCateManageService" binding="tns:BasicHttpBinding_IRegCateManageService">
      <soap:address location="http://localhost:8088/RegCateManage/RegCateManageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>