Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/RegCateManageService/RegCateManageService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/RegCateManage/RegCateManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" />
  <xs:element name="YearIncomeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="YearIncomeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="YearIncomeListResult" nillable="true" type="q1:ArrayOfYearIncome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YearIncomeSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q2:ArrayOfYearIncome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YearIncomeSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="YearIncomeSaveResult" nillable="true" type="q3:ArrayOfYearIncomeModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstFavorObjList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstFavorObjListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="IvstFavorObjListResult" nillable="true" type="q4:ArrayOfIvstFavorObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstFavorObjSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q5:ArrayOfIvstFavorObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstFavorObjSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="IvstFavorObjSaveResult" nillable="true" type="q6:ArrayOfIvstFavorObjModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrgnInfoAcquirerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrgnInfoAcquirerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="OrgnInfoAcquirerListResult" nillable="true" type="q7:ArrayOfOrgnInfoAcquirer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrgnInfoAcquirerSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q8:ArrayOfOrgnInfoAcquirer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrgnInfoAcquirerSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="OrgnInfoAcquirerSaveResult" nillable="true" type="q9:ArrayOfOrgnInfoAcquirerModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstProdList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstProdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="IvstProdListResult" nillable="true" type="q10:ArrayOfIvstProd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstProdSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q11:ArrayOfIvstProd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstProdSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="IvstProdSaveResult" nillable="true" type="q12:ArrayOfIvstProdModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvstTendencyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvstTendencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="InvstTendencyListResult" nillable="true" type="q13:ArrayOfInvstTendency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvstTendencySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q14:ArrayOfInvstTendency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvstTendencySaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="InvstTendencySaveResult" nillable="true" type="q15:ArrayOfInvstTendencyModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStockTraderList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStockTraderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="MainStockTraderListResult" nillable="true" type="q16:ArrayOfMainStockTrader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStockTraderSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q17:ArrayOfMainStockTrader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStockTraderSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="MainStockTraderSaveResult" nillable="true" type="q18:ArrayOfMainStockTraderModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstScaleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstScaleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="IvstScaleListResult" nillable="true" type="q19:ArrayOfIvstScale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstScaleSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q20:ArrayOfIvstScale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IvstScaleSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="IvstScaleSaveResult" nillable="true" type="q21:ArrayOfIvstScaleModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavorFieldList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FavorFieldListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="FavorFieldListResult" nillable="true" type="q22:ArrayOfFavorField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavorFieldSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="list" nillable="true" type="q23:ArrayOfFavorField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FavorFieldSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" minOccurs="0" name="FavorFieldSaveResult" nillable="true" type="q24:ArrayOfFavorFieldModifyResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>