Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/RegCateManageService/RegCateManageService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.RegiCategoryManage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfYearIncome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YearIncome" nillable="true" type="tns:YearIncome" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYearIncome" nillable="true" type="tns:ArrayOfYearIncome" />
  <xs:complexType name="YearIncome">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalaryId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YearIncome" nillable="true" type="tns:YearIncome" />
  <xs:complexType name="ArrayOfYearIncomeModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YearIncomeModifyResult" nillable="true" type="tns:YearIncomeModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYearIncomeModifyResult" nillable="true" type="tns:ArrayOfYearIncomeModifyResult" />
  <xs:complexType name="YearIncomeModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalaryId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YearIncomeModifyResult" nillable="true" type="tns:YearIncomeModifyResult" />
  <xs:complexType name="ArrayOfIvstFavorObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IvstFavorObj" nillable="true" type="tns:IvstFavorObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIvstFavorObj" nillable="true" type="tns:ArrayOfIvstFavorObj" />
  <xs:complexType name="IvstFavorObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentPreferenceObjectId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IvstFavorObj" nillable="true" type="tns:IvstFavorObj" />
  <xs:complexType name="ArrayOfIvstFavorObjModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IvstFavorObjModifyResult" nillable="true" type="tns:IvstFavorObjModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIvstFavorObjModifyResult" nillable="true" type="tns:ArrayOfIvstFavorObjModifyResult" />
  <xs:complexType name="IvstFavorObjModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentPreferenceObjectId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IvstFavorObjModifyResult" nillable="true" type="tns:IvstFavorObjModifyResult" />
  <xs:complexType name="ArrayOfOrgnInfoAcquirer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrgnInfoAcquirer" nillable="true" type="tns:OrgnInfoAcquirer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrgnInfoAcquirer" nillable="true" type="tns:ArrayOfOrgnInfoAcquirer" />
  <xs:complexType name="OrgnInfoAcquirer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAcquirementId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrgnInfoAcquirer" nillable="true" type="tns:OrgnInfoAcquirer" />
  <xs:complexType name="ArrayOfOrgnInfoAcquirerModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrgnInfoAcquirerModifyResult" nillable="true" type="tns:OrgnInfoAcquirerModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrgnInfoAcquirerModifyResult" nillable="true" type="tns:ArrayOfOrgnInfoAcquirerModifyResult" />
  <xs:complexType name="OrgnInfoAcquirerModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoAcquirementId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrgnInfoAcquirerModifyResult" nillable="true" type="tns:OrgnInfoAcquirerModifyResult" />
  <xs:complexType name="ArrayOfIvstProd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IvstProd" nillable="true" type="tns:IvstProd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIvstProd" nillable="true" type="tns:ArrayOfIvstProd" />
  <xs:complexType name="IvstProd">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentPeriodId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IvstProd" nillable="true" type="tns:IvstProd" />
  <xs:complexType name="ArrayOfIvstProdModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IvstProdModifyResult" nillable="true" type="tns:IvstProdModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIvstProdModifyResult" nillable="true" type="tns:ArrayOfIvstProdModifyResult" />
  <xs:complexType name="IvstProdModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentPeriodId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IvstProdModifyResult" nillable="true" type="tns:IvstProdModifyResult" />
  <xs:complexType name="ArrayOfInvstTendency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvstTendency" nillable="true" type="tns:InvstTendency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvstTendency" nillable="true" type="tns:ArrayOfInvstTendency" />
  <xs:complexType name="InvstTendency">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentPropensityId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvstTendency" nillable="true" type="tns:InvstTendency" />
  <xs:complexType name="ArrayOfInvstTendencyModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvstTendencyModifyResult" nillable="true" type="tns:InvstTendencyModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvstTendencyModifyResult" nillable="true" type="tns:ArrayOfInvstTendencyModifyResult" />
  <xs:complexType name="InvstTendencyModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentPropensityId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvstTendencyModifyResult" nillable="true" type="tns:InvstTendencyModifyResult" />
  <xs:complexType name="ArrayOfMainStockTrader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MainStockTrader" nillable="true" type="tns:MainStockTrader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMainStockTrader" nillable="true" type="tns:ArrayOfMainStockTrader" />
  <xs:complexType name="MainStockTrader">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StockCompanyId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainStockTrader" nillable="true" type="tns:MainStockTrader" />
  <xs:complexType name="ArrayOfMainStockTraderModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MainStockTraderModifyResult" nillable="true" type="tns:MainStockTraderModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMainStockTraderModifyResult" nillable="true" type="tns:ArrayOfMainStockTraderModifyResult" />
  <xs:complexType name="MainStockTraderModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCompanyId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainStockTraderModifyResult" nillable="true" type="tns:MainStockTraderModifyResult" />
  <xs:complexType name="ArrayOfIvstScale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IvstScale" nillable="true" type="tns:IvstScale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIvstScale" nillable="true" type="tns:ArrayOfIvstScale" />
  <xs:complexType name="IvstScale">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentScaleId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IvstScale" nillable="true" type="tns:IvstScale" />
  <xs:complexType name="ArrayOfIvstScaleModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IvstScaleModifyResult" nillable="true" type="tns:IvstScaleModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIvstScaleModifyResult" nillable="true" type="tns:ArrayOfIvstScaleModifyResult" />
  <xs:complexType name="IvstScaleModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestmentScaleId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IvstScaleModifyResult" nillable="true" type="tns:IvstScaleModifyResult" />
  <xs:complexType name="ArrayOfFavorField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FavorField" nillable="true" type="tns:FavorField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavorField" nillable="true" type="tns:ArrayOfFavorField" />
  <xs:complexType name="FavorField">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply" type="xs:boolean" />
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaveType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sort" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UpdateDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FavorField" nillable="true" type="tns:FavorField" />
  <xs:complexType name="ArrayOfFavorFieldModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FavorFieldModifyResult" nillable="true" type="tns:FavorFieldModifyResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFavorFieldModifyResult" nillable="true" type="tns:ArrayOfFavorFieldModifyResult" />
  <xs:complexType name="FavorFieldModifyResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterestId" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserChagned" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FavorFieldModifyResult" nillable="true" type="tns:FavorFieldModifyResult" />
</xs:schema>