Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/AdminService/AdminService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Admin" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8088/Admin/AdminService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_SmsSend_InputMessage">
    <wsdl:part name="parameters" element="tns:SmsSend" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SmsSend_OutputMessage">
    <wsdl:part name="parameters" element="tns:SmsSendResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAtById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAtById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_LoginCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginCheck" />
  </wsdl:message>
  <wsdl:message name="IAdminService_LoginCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAdminGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminGroup" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAdminGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_PasswordChange_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChange" />
  </wsdl:message>
  <wsdl:message name="IAdminService_PasswordChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteList" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_ExcelExport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExport" />
  </wsdl:message>
  <wsdl:message name="IAdminService_ExcelExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExportResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_usp_AdminCmsPwdInitialize_InputMessage">
    <wsdl:part name="parameters" element="tns:usp_AdminCmsPwdInitialize" />
  </wsdl:message>
  <wsdl:message name="IAdminService_usp_AdminCmsPwdInitialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:usp_AdminCmsPwdInitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminCmsPwdInitializeRanNum_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminCmsPwdInitializeRanNum" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminCmsPwdInitializeRanNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminCmsPwdInitializeRanNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="SmsSend">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SmsSend" message="tns:IAdminService_SmsSend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SmsSendResponse" message="tns:IAdminService_SmsSend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAt" message="tns:IAdminService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAtResponse" message="tns:IAdminService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAtById" message="tns:IAdminService_GetAtById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAtByIdResponse" message="tns:IAdminService_GetAtById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/LoginCheck" message="tns:IAdminService_LoginCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/LoginCheckResponse" message="tns:IAdminService_LoginCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAdminGroup" message="tns:IAdminService_GetAdminGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAdminGroupResponse" message="tns:IAdminService_GetAdminGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/Save" message="tns:IAdminService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SaveResponse" message="tns:IAdminService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/PasswordChange" message="tns:IAdminService_PasswordChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/PasswordChangeResponse" message="tns:IAdminService_PasswordChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchList" message="tns:IAdminService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchListResponse" message="tns:IAdminService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/Delete" message="tns:IAdminService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteResponse" message="tns:IAdminService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteList" message="tns:IAdminService_DeleteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteListResponse" message="tns:IAdminService_DeleteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/ExcelExport" message="tns:IAdminService_ExcelExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/ExcelExportResponse" message="tns:IAdminService_ExcelExport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="usp_AdminCmsPwdInitialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/usp_AdminCmsPwdInitialize" message="tns:IAdminService_usp_AdminCmsPwdInitialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/usp_AdminCmsPwdInitializeResponse" message="tns:IAdminService_usp_AdminCmsPwdInitialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminCmsPwdInitializeRanNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AdminCmsPwdInitializeRanNum" message="tns:IAdminService_AdminCmsPwdInitializeRanNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AdminCmsPwdInitializeRanNumResponse" message="tns:IAdminService_AdminCmsPwdInitializeRanNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SmsSend">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SmsSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAtById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginCheck">
      <soap:operation soapAction="http://tempuri.org/IAdminService/LoginCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminGroup">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAdminGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IAdminService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordChange">
      <soap:operation soapAction="http://tempuri.org/IAdminService/PasswordChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAdminService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DeleteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <soap:operation soapAction="http://tempuri.org/IAdminService/ExcelExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="usp_AdminCmsPwdInitialize">
      <soap:operation soapAction="http://tempuri.org/IAdminService/usp_AdminCmsPwdInitialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminCmsPwdInitializeRanNum">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AdminCmsPwdInitializeRanNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8088/Admin/AdminService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>