Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/KvinaService/KvinaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KvinaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Kvina/KvinaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Kvina/KvinaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Kvina/KvinaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Board" />
      <xsd:import schemaLocation="http://localhost:8088/Kvina/KvinaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Kvina/KvinaService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Kvina" />
      <xsd:import schemaLocation="http://localhost:8088/Kvina/KvinaService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/Kvina/KvinaService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKvinaService_KvinaNoticeList_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeList" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeListResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeListLinq_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeListLinq" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeListLinq_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeListLinqResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeView_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeView" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeView_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeViewResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeViewLinq_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeViewLinq" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeViewLinq_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeViewLinqResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeWriteProc_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeWriteProc" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeWriteProc_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeWriteProcResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeWriteProcLinq_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeWriteProcLinq" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeWriteProcLinq_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeWriteProcLinqResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeWriteEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeWriteEdit" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeWriteEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeWriteEditResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeDelete" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeDeleteLinq_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeDeleteLinq" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaNoticeDeleteLinq_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaNoticeDeleteLinqResponse" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaPaymentAPI_InputMessage">
    <wsdl:part name="parameters" element="tns:KvinaPaymentAPI" />
  </wsdl:message>
  <wsdl:message name="IKvinaService_KvinaPaymentAPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:KvinaPaymentAPIResponse" />
  </wsdl:message>
  <wsdl:portType name="IKvinaService">
    <wsdl:operation name="KvinaNoticeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeList" message="tns:IKvinaService_KvinaNoticeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeListResponse" message="tns:IKvinaService_KvinaNoticeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeListLinq">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeListLinq" message="tns:IKvinaService_KvinaNoticeListLinq_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeListLinqResponse" message="tns:IKvinaService_KvinaNoticeListLinq_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeView">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeView" message="tns:IKvinaService_KvinaNoticeView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeViewResponse" message="tns:IKvinaService_KvinaNoticeView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeViewLinq">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeViewLinq" message="tns:IKvinaService_KvinaNoticeViewLinq_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeViewLinqResponse" message="tns:IKvinaService_KvinaNoticeViewLinq_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeWriteProc">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeWriteProc" message="tns:IKvinaService_KvinaNoticeWriteProc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeWriteProcResponse" message="tns:IKvinaService_KvinaNoticeWriteProc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeWriteProcLinq">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeWriteProcLinq" message="tns:IKvinaService_KvinaNoticeWriteProcLinq_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeWriteProcLinqResponse" message="tns:IKvinaService_KvinaNoticeWriteProcLinq_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeWriteEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeWriteEdit" message="tns:IKvinaService_KvinaNoticeWriteEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeWriteEditResponse" message="tns:IKvinaService_KvinaNoticeWriteEdit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeDelete" message="tns:IKvinaService_KvinaNoticeDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeDeleteResponse" message="tns:IKvinaService_KvinaNoticeDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeDeleteLinq">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeDeleteLinq" message="tns:IKvinaService_KvinaNoticeDeleteLinq_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaNoticeDeleteLinqResponse" message="tns:IKvinaService_KvinaNoticeDeleteLinq_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KvinaPaymentAPI">
      <wsdl:input wsaw:Action="http://tempuri.org/IKvinaService/KvinaPaymentAPI" message="tns:IKvinaService_KvinaPaymentAPI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKvinaService/KvinaPaymentAPIResponse" message="tns:IKvinaService_KvinaPaymentAPI_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKvinaService" type="tns:IKvinaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KvinaNoticeList">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeListLinq">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeListLinq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeView">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeViewLinq">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeViewLinq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeWriteProc">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeWriteProc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeWriteProcLinq">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeWriteProcLinq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeWriteEdit">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeWriteEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeDelete">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaNoticeDeleteLinq">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaNoticeDeleteLinq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KvinaPaymentAPI">
      <soap:operation soapAction="http://tempuri.org/IKvinaService/KvinaPaymentAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KvinaService">
    <wsdl:port name="BasicHttpBinding_IKvinaService" binding="tns:BasicHttpBinding_IKvinaService">
      <soap:address location="http://localhost:8088/Kvina/KvinaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>