Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/IRClubService/IRClubService72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTAB_IR_CLUB_2010">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_IR_CLUB_2010" nillable="true" type="tns:TAB_IR_CLUB_2010" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_IR_CLUB_2010" nillable="true" type="tns:ArrayOfTAB_IR_CLUB_2010" />
  <xs:complexType name="TAB_IR_CLUB_2010">
    <xs:sequence>
      <xs:element minOccurs="0" name="APPROVAL_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_LOGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOMEPAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INDUSTRY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INDUSTRY_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INDUSTRY_VOLUME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_IR_CLUB_2010" nillable="true" type="tns:TAB_IR_CLUB_2010" />
</xs:schema>