Wow.Tv.Admin/Wow.Tv.Admin/Connected Services/IRClubService/IRClubService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfview_AllStockCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="view_AllStockCode" nillable="true" type="tns:view_AllStockCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfview_AllStockCode" nillable="true" type="tns:ArrayOfview_AllStockCode" />
  <xs:complexType name="view_AllStockCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="SCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="k_stock_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="view_AllStockCode" nillable="true" type="tns:view_AllStockCode" />
</xs:schema>